<div>
  <h2>{{ isLoginMode ? 'Login' : 'Sign Up' }}</h2>
  <form (ngSubmit)="authenticate()" #authForm="ngForm">
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="email" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required>
    </div>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <button type="submit">{{ isLoginMode ? 'Login' : 'Sign Up' }}</button>
  </form>
  <p>{{ isLoginMode ? 'Don\'t have an account?' : 'Already have an account?' }}
    <a  (click)="switchMode()">{{ isLoginMode ? 'Sign Up' : 'Login' }}</a>
  </p>
</div>
